<button
  type="button"
  class="pos-card"
  [class.pos-card--out-of-stock]="isOutOfStock()"
  [disabled]="disabled"
  [attr.aria-disabled]="disabled"
  [attr.aria-label]="ariaLabel()"
  (click)="onClick()"
>
  <div class="pos-card__head">
    <div class="pos-card__heading">
      <h3 class="pos-card__name" [title]="item.name">{{ item.name }}</h3>
      @if (item.brandName) {
        <p class="pos-card__brand">{{ item.brandName }}</p>
      }
    </div>
    <div class="pos-card__price-block">
      <span class="pos-card__price">$ {{ priceFormatted() }}</span>
    </div>
  </div>

  <div class="pos-card__stock-row" [attr.data-testid]="'pos-card-stock-' + item.id">
    <span
      class="pos-card__stock"
      [class.pos-card__stock--ok]="hasPositiveStock()"
      [class.pos-card__stock--out]="isOutOfStock()"
      [class.pos-card__stock--unknown]="stockState() === 'unknown'"
    >
      <i class="pi pos-card__stock-icon" [class]="stockIcon()" aria-hidden="true"></i>
      <span class="pos-card__stock-label">{{ stockLabel() }}</span>
    </span>
  </div>
</button>
