<ng-template #buttonContent>
  <!-- Projects the consumer label once so link and button variants render the same visible content. -->
  @if (loading()) {
    <i class="pi pi-spinner pi-spin" aria-hidden="true"></i>
    @if (!iconOnly()) {
      <span pButtonLabel>{{ loadingLabel() }}</span>
    }
  } @else {
    @if (icon()) {
      <i [class]="icon()" aria-hidden="true"></i>
    }
    @if (!iconOnly()) {
      <span pButtonLabel><ng-content /></span>
    }
  }
</ng-template>

@if (isLink()) {
  <a
    [routerLink]="routerLink()!"
    [class]="buttonClass()"
    [attr.aria-label]="ariaLabel()"
    [attr.data-testid]="testId()"
  >
    <ng-container *ngTemplateOutlet="buttonContent" />
  </a>
} @else {
  <button
    [type]="type()"
    [disabled]="isDisabled()"
    [class]="buttonClass()"
    [attr.aria-label]="ariaLabel()"
    [attr.aria-busy]="loading()"
    [attr.data-testid]="testId()"
  >
    <ng-container *ngTemplateOutlet="buttonContent" />
  </button>
}
